<div class="flex justify-center w-full">
  <div class="prose">
    <h1 class="text-3xl font-bold">
      <%= @post.title %>
    </h1>
    <p>Written by: Anonymous</p>
    <p>Creation date: <%= Date.to_string(@post.inserted_at) %></p>
    <p>Last update: <%= Date.to_string(@post.updated_at) %></p>
    <div>
      <%= raw(safe_html(@rendered_markdown)) %>
    </div>
  </div>
</div>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post.slug) %></span>
